@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo-side {
  background-color: #a4afc4;
}

p,
label,
::placeholder {
  font-size: 14px;
}

::placeholder {
  font-weight: 500;
}

li {
  list-style-type: none;
}

.nav-wrapper li:hover {
  background-color: #f7f7f7;
}
